.contenedor {
    margin: 3em;
    flex-wrap: wrap;
}
.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.imagen img{
    height: 600px;
    margin-top: 1em;

}
.imagen p{
    text-align: center;
}
.parrafo p{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    text-align: justify;
    font-size: large;
}


