
.titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 2em;
}
.imagen img{
    width: 750px;
}
.imagen {
    text-align: justify;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.parrafo p{
    margin-left: 4em;
    margin-top: 1em;
    text-align: justify;
    font-size: medium;
}
.contenedorP{
    width: 750px;
    margin-top: 2em;
    
}
.contenedor {
    width: 1200px;
    margin: auto;
}
.contenedorI{
    width: 400px;
    float: right;

}
.contenedorI img{
    width: 50px;
    height: 50px;

}
.contenedorT {
    width: 1200px;
    margin: auto;

}

.contenedorI input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    width: 400px;
}
.contenedorI .col-lg-4 .card{
    height: 200px;
    width: 250px;
}

.contenedorI .col-lg-4{
    margin-top: 2em;
}

.contenedorI .col-lg-4 .card img{
    width: 80%;
    height: 100px;
    margin-left: 10%;
}